@model Quasar.Web.Models.Products.DetailsProductViewModel
@{
    ViewData["Title"] = Model.Name;
}
<div>
    <div class="row">
        <div class="col-md-5">
            <div>
                <img src="@Model.CurrentCoverImage" class="cover" alt="@Model.Name">
            </div>
            <div>
                <hr />
                <div class="row">
                    @foreach (var img in Model.CurrentImages)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <a href="@img" data-lightbox="screenshopts">
                                    <img class="card-img-top screenshot" src="@img">
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h1>@Model.Name</h1>
            <hr />
            <div class="d-flex justify-content-between">
                <div>
                    <h3>Price: $@Model.Price</h3>
                </div>
                <div>
                    <div class="button-holder d-flex mt-3">
                        <div>
                            <a asp-controller="Orders" asp-action="AddProduct" asp-route-id="@Model.Id" class="btn btn-primary">Buy</a>
                            
                            @if (User.IsInRole("Admin"))
                            {

                                <a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col form-group">
                    <p>Category: @Model.Category</p>
                </div>
                <div class="col form-group">
                    <p>Type: @Model.Type</p>
                </div>
                <div class="col form-group">
                    <p>Platform: @Model.Platform</p>
                </div>
            </div>
            <hr />
            <div>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
