<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quasar</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/lightbox.min.css">

</head>
<body>
    @{
        @using Quasar.Models.Enums
        @using Quasar.Web.Models

        var types = Enum.GetNames(typeof(ProductType)).ToArray();
        var categories = Enum.GetNames(typeof(Category)).ToArray();
        var platforms = Enum.GetNames(typeof(Platform)).ToArray();

    }

    <div class="top-bar bg-dark-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            Hello
                            <a class="text-quasar" asp-controller="Users" asp-action="Details">@User.Identity.Name</a>
                            [<a class="text-quasar" asp-controller="Users" asp-action="Logout">Logout</a>]
                        </p>
                    }
                    else
                    {
                        <p>
                            Hello!
                            <a class="text-quasar" asp-controller="Users" asp-action="Login">Login</a>
                            or
                            <a class="text-quasar" asp-controller="Users" asp-action="Register">Register</a>
                        </p>

                    }

                </div>
                <div class="col-md-4 col-md-offset-4 col-sm-offset-4 text-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>Manage <a class="text-quasar" asp-controller="Orders" asp-action="ShoppingCart">shopping cart</a></p>
                    }
                    else
                    {
                        <p>Welcome to Qusar!</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <main class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Quasar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="row">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col-lg-8">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        PRODUCTS
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Products" asp-action="Create">Create</a>
                                        <a class="dropdown-item" asp-controller="Products" asp-action="All">All</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ORDERS
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Orders" asp-action="AllOrders">All</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    }
                    else
                    {
                        <div class="col-lg-8">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        CATEGORIES
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (string c in categories)
                                        {
                                            <a class="dropdown-item" href="/Products/ProductsBy/Category/@c">@c</a>
                                        }
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        PLATFORMS
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (string p in platforms)
                                        {
                                            <a class="dropdown-item" href="/Products/ProductsBy/Platform/@p">@p</a>
                                        }
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        TYPES
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (string t in types)
                                        {
                                            <a class="dropdown-item" href="/Products/ProductsBy/Type/@t">@t</a>
                                        }
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">ABOUT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CONTACT</a>
                                </li>
                            </ul>
                        </div>

                    }
                    <div class="col-lg-4 search-box">
                        <form class="form-inline my-2 ml-4" method="get" asp-controller="Products" asp-action="Search">
                            <input required class="form-control mr-sm-2" name="queryValue" placeholder="Search" aria-label="Search">
                            <button class="btn bg-quasar text-white my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-top-rounded">
            @RenderBody()
        </div>

        <footer class="bg-dark-light rounded container-padding mt-5">
            <div class="footer-bottom-area section-padding-sm">
                <div class="container">
                    <div class="row widgets footer-widgets">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-quick-links">
                                <h5 class="widget-title">Information</h5>
                                <ul>
                                    <li><a href="#">GDPR</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Payments and Shipping</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms of service</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-quick-links">
                                <h5 class="widget-title">Customer Service</h5>
                                <ul>
                                    <li><a href="#">Shipping Policy</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Stores</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-quick-links">
                                <h5 class="widget-title">Bonus</h5>
                                <ul>
                                    <li><a href="#">Promotions</a></li>
                                </ul>
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="single-widget widget-quick-links">
                                    <h5 class="widget-title">My Account</h5>
                                    <ul>
                                        <li><a asp-controller="Users" asp-action="Details">Personal Information</a></li>
                                        <li><a asp-controller="Users" asp-action="Details">Order history</a></li>
                                        <li><a asp-controller="Users" asp-action="Details">Wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <hr class="hr-dotted" />
            <div class="container text-center">
                <p>Qusar LTD</p>
                <p>© @DateTime.Now.Year All Rights reserved.</p>
            </div>
        </footer>
    </main>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/lightbox-plus-jquery.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
